<div class="main" style="background-color: #6edde066; margin-top: -21px; margin-bottom: -50px; flex-wrap: wrap;">
  <h1 style="
      padding-bottom: 20px;
      padding-left: 430px;
      color: rgb(6, 88, 125);
      padding-top: 30px;
    ">
    Government Recognised Schemes/Insurance
  </h1>

  <div class="rowone" style="
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      padding-bottom: 30px;
      padding-top: 20px;
      flex-wrap: wrap;
    ">
    <mat-card class="example-card" style="margin-right: 30px; margin-bottom: 20px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title> Ayushman Bharat Yojana Scheme</mat-card-title>
        <mat-card-subtitle>PM-JAY</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://images.ctfassets.net/uwf0n1j71a7j/McBkGYDRheYYnU7XgwAl7/111ea892def4d55cfc07b06c7005072d/pmjay-ayushman-bharat-yojana-scheme.png?fm=webp&w=1200&q=75"
        alt="Scheme And Insurance" />
      <mat-card-content>
        <p>
          Pradhan Mantri Jan Arogya Yojana (PMJAY) popularly known as Ayushman
          Bharat Yojana Scheme is the flagship scheme by the Government of
          India. It is essentially a health insurance scheme to cater to the
          poor, lower section of the society and the vulnerable population. The
          scheme offers financial protection in case of hospitalization due to
          medical emergencies.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a type="button" mat-button href="https://www.acko.com/health-insurance/ayushman-bharat-yojana-scheme/">SITE
          LINK</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" style="margin-right: 30px; margin-bottom: 20px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Rashtriya Swasthya Bima Yojana</mat-card-title>
        <mat-card-subtitle>Eligibility, Coverage, Benefits</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://images.ctfassets.net/uwf0n1j71a7j/IwDMa2FgKqTtHdH5Hs2be/7a208529af4db38c77bd214f76ee0936/rsby-rashtriya-swasthya-bima-yojana.png?fm=webp&w=1200&q=75"
        alt="Scheme And Insurance" />
      <mat-card-content>
        <p>
          In today’s time, the cost of healthcare facilities is skyrocketing.
          Even families who are privileged to bear a medical emergency find it
          difficult to keep up with the increasing costs of treatments. While
          government hospitals operate at the lowest possible costs, it may not
          be possible for some underprivileged families to avail of healthcare
          treatments.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a type="button" mat-button href="https://www.acko.com/health-insurance/rashtriya-swasthya-bima-yojana/">SITE
          LINK</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" style="margin-right: 30px; margin-bottom: 20px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Chief Minister's Comprehensive Health Insurance
          Scheme</mat-card-title>
        <mat-card-subtitle>Central Government Scheme</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
        src="https://images.ctfassets.net/uwf0n1j71a7j/1V81Md7AG2xOrbd4FFUgGC/72ed54a9446839de910f7dc737a96458/amma-health-insurance.png?fm=webp&w=1200&q=75"
        alt="Scheme And Insurance" />
      <mat-card-content>
        <p>
          The Chief Minister’s Comprehensive Health Insurance Scheme is a
          positive move towards providing world-class health care to millions of
          people in the south Indian state of Tamil Nadu. The scheme is proving
          to be a success with more than 65% of the state’s population enrolled
          under health insurance.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a type="button" mat-button
          href="https://www.acko.com/health-insurance/chief-ministers-comprehensive-health-insurance-scheme/">SITE
          LINK</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>