<div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-toolbar>
        <mat-icon class="example-tab-icon">local_hospital</mat-icon>
        <span style="font-size: 2vw;">Practice Management System</span>
        <span class="example-spacer"></span>
        <!-- <a type="button" href="" style="font-size: 2vw;">Home</a> -->

        <button mat-stroked-button class="toolbar_btn" (click)="auth.loginWithRedirect()">
            login
        </button>
        <!-- <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button (click)="auth.logout()">
                Log out
            </button>
        </ng-container> -->
        <!-- <ng-template #loggedOut>
            <button (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template> -->
    </mat-toolbar>
</div>


<!-- <div class="heading">
    <h1>The care you need... The compassion you deserve.</h1>
  </div>

  <div class="c1div">
    <span>Your Most Trusted Healthcare Partner for Life.</span>
    <br />
    <button class="c1btn" style="color: rgb(0, 0, 0); cursor: pointer;">
      Book an Appointment
    </button>
  </div> -->

<!-- <div> -->
<!-- <mat-tab-group >
        
        <mat-tab>
            <ng-template mat-tab-label class="letter">
                <mat-icon><span class="material-symbols-sharp" style="color: aliceblue;">
                        home
                    </span></mat-icon>
           
                <span style="color: aliceblue;">Home</span>
            </ng-template> 
            <mat-divider></mat-divider>

            <div class="h1">
                <h1>Practice Management System</h1>
            </div>
                
                <div class="moto">
                <h1>Serving Your Health Needs Is Our Priority</h1>
            </div>
            
            <div class="content1">
                <span style="color: aliceblue;">

                    YOUR MOST TRUSTED HEALTHCARE PARTNER
                  
                    </span> 

            </div>  
            <div class="c1div">
                <span>Quick and easy online Appointment in a Minute</span>
                <br>
                <button class="c1btn" style="color: aqua;">Book an Appointment</button>
            </div>  

                
        </mat-tab>
        

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon><span class="material-symbols-outlined"  style="color: aliceblue;">
                        info
                    </span></mat-icon>
                <span style="color: aliceblue;">About</span>
            </ng-template>
            <mat-divider></mat-divider>

            Content 2
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon><span class="material-symbols-sharp" style="color: aliceblue;">
                    how_to_reg
                    </span></mat-icon>
                <span style="color: aliceblue;">Doctors</span>
            </ng-template>
            <mat-divider></mat-divider>

            Content 3
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon> <span style="color: aliceblue;"> thumb_up </span> </mat-icon>
                <span style="color: aliceblue;">Specialty</span>
            </ng-template>
            <mat-divider></mat-divider>
            Content 4
        </mat-tab>
    
    </mat-tab-group> -->

<!-- </div> -->