<!-- <body class="img"  style="background-image:'assets\docmain2.jpg';background-position: center ;display: flex; ">    

  <p>dashboard works!</p> -->

<!-- <div class="back-img" style="height: fit-content;width: max-content;"> -->
<!-- <img src="assets\docmain2.jpg" alt=""> -->
<!-- </div> -->
<!-- </body> -->

<div class="container">
    <img src="https://img.freepik.com/free-photo/stethoscope-copy-space_23-2147652347.jpg?size=626&ext=jpg&ga=GA1.2.1577870330.1659687035&semt=ais"
        alt="Snow" style="width: 100%; filter: brightness(0.5)" />
    <div class="centered">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <div class="main__cards">
            <div class="card">
                <i class="fa-solid fa-user fa-2x"></i>
                <!-- <span class="material-symbols-outlined">
            pending_actions
            </span> -->
                <div class="card_inner">
                    <p class="text-primary-p">Appointments : 5</p>
                </div>
            </div>
            <div class="card">
                <i class="fa-solid fa-users fa-2x"></i>
                <div class="card_inner">
                    <p class="text-primary-p">Pending : 5</p>
                </div>
            </div>
            <div class="card">
                <i class="fa fa-user-md fa-2x" aria-hidden="true"></i>
                <div class="card_inner">
                    <p class="text-primary-p">
                        Today :
                        <span class="font-bold text-title" style="font-weight: bolder">15</span>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <h1 style="font-size: 55px; color: whitesmoke">Welcome Physician</h1>
        </div>
        <div class="button_container">
            <p>
                <button routerLink="/physician/appointments" class="btn"><span>Appointments</span></button>
            </p>
            <p>
                <button routerLink="/physician/pending-appointments" class="btn"><span>Pending
                        Appointments</span></button>
            </p>
        </div>
    </div>